aiohttp==3.7.3
alpha-vantage==2.2.0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==20.3.0
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
cycler==0.10.0
distro-info==0.21
entrypoints==0.3
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
matplotlib==3.0.2
multidict==5.0.2
mysql-connector==2.2.9
mysqlclient==2.0.1
numpy==1.16.2
olefile==0.46
Pillow==5.4.1
polygon-api-client==0.1.9
pycrypto==2.6.1
pycurl==7.43.0.2
PyGObject==3.30.4
pyparsing==2.2.0
python-apt==1.8.4.1
python-dateutil==2.7.3
pyxdg==0.25
requests==2.25.0
SecretStorage==2.3.1
simplemysql==1.25
six==1.12.0
ssh-import-id==5.7
typing-extensions==3.7.4.3
unattended-upgrades==0.1
urllib3==1.24.1
websocket-client==0.57.0
websockets==8.1
yarl==1.6.3
