.tab {
    border-collapse: collapse;
    border: 1px solid black;
}
.tabheader {
    background-color: #dedede;
    margin-top: 8px;
}

td {
    border: 1px solid black;
    padding: 5px;
}

/* Style the tab */
.tabs {
  overflow: hidden;
  border: 1px solid black;
  background-color: #dedede;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #bfbfbf;
}
